$body-bg: rgb(27, 27, 27);
$body-color: white;
$primary: rgb(255,119,0);

$font-family-sans-serif: 'Poppins', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.custom-bg{
  background: black url('../assets/abstract.jpg');
  background-size: cover;
}

.card{
  border: none;
}

.card-body{
  background: #2e2e2e;
}

.card-body p{
  color: #c2c2c2;
}

.card-img, .card-img-top{
  object-fit: cover;
  aspect-ratio: 1/.7;
}

.submit{
  margin-top: 2em;
}